<%= render 'shared/errors', obj: @training_plan %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @training_plan do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 8 %>

      <%= f.submit(@training_plan.new_record? ? 'Create Training Plan' : 'Edit Training Plan',
                   class: "btn btn-success") %>
    <% end %>
  </div>
</div>
