<%= render 'shared/page_title', title: "All Training Plans" %>

<% @training_plans.each do |plan| %>
  <div class="row">
    <div class="col-md-2">
      <section class="user_info center">
        <%= gravatar_for plan.user, size: 100 %>
        <h5>User name: <%= plan.user.full_name %></h5>
      </section>
    </div>
    <div class="col-lg-8 well">
      <h4><%= link_to plan.name, training_plan_path(plan) %></h4>
      <p><%= plan.description %></p>
      <p>
        <span class="quiet"><small><%= time_ago_in_words(plan.created_at) %></small></span>
      </p>
      <div class="pull-right">
        <%= link_to like_training_plan_path(plan, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> <%= plan.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp
        <%= link_to like_training_plan_path(plan, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> <%= plan.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
  <hr/>
<% end %>
