<p>
  <h1>Create a Training Plan</h1>
  <hr/>
</p>

<% if @training_plan.errors.any? %>
  <div class="row">
    <div class="alert alert-danger col-md-8 col-md-offset-2">
      <h5>Please correct the following errors:</h5>
      <ul>
        <% @training_plan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @training_plan do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 8 %>

      <%= f.submit "Create Training Plan", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
