<%= render 'shared/page_title', title: @training_plan.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@training_plan.user, size: 200), user_path(@training_plan.user) %>
    <p>
      <h5>Currently used by: <%= @training_plan.user.full_name %></h5>
    </p>
  </div>
  <div class="col-md-8">
    <div class="well">
      <% if @training_plan.skills.any? %>
        <p><%= render @training_plan.skills %></p>
      <% end %>
      <br>
      <p>
        <strong>Description:</strong>
      </p>
      <%= simple_format(@training_plan.description) %>
      <div class="pull-right">
        <%= link_to like_training_plan_path(@training_plan, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> <%= @training_plan.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp
        <%= link_to like_training_plan_path(@training_plan, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> <%= @training_plan.thumbs_down_total %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="well">
      <p><strong>Trainings included:</strong></p>
      <% @training_plan.trainings.each do |training| %>
        <div class="list-group">
          <button class="list-group-item"><%= link_to training.name, training_path(training) %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="well">
      <p>
        <%= link_to "Comments", "#", id: "comments-link" %>
      </p>

      <section id="comments-section">
        <ol id="comments">
          <%= render @comments %>
        </ol>
        <%= form_for [@training_plan, @training_plan.comments.new], remote: true do |f| %>
          <fieldset>
              <div class="field">
                <%= f.text_area :body, rows: 2, cols: 60,
                                placeholder: "Write a comment..." %>
              </div>
              <div class="actions">
                <%= f.submit "Post Comment", class: "btn btn-xs btn-primary" %>
              </div>
          </fieldset>
        <% end %>
      </section>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= link_to "Return to Listing", training_plans_path, class: "btn btn-warning btn-small" %>
    <% if logged_in? and (@training_plan.user == current_user || current_user.admin?) %>
      <%= link_to "Edit", edit_training_plan_path(@training_plan), class: "btn btn-small btn-success" %>
    <% end %>
    <% if logged_in? and current_user.admin? %>
      <%= link_to "Delete", @training_plan, method: :delete,
                            data: { confirm: "Are you sure?" },
                            class: "btn btn-danger pull-right" %>
    <% end %>
  </div>
</div>
